<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>


  <%- contents %>

  <footer class="footer" >
    <div class="footer pt-64 pb-64 df fxdc jcc aic text-white text-center">
      <h2 class="lh-64-84 f-italic fw-500 mb-16">Contact</h2>
      <p class="lh-24-36 fw-500 f-italic mb-16">Mail：xxxd@hexschool.com</p>
      <p class="lh-24-36 fw-500 f-italic">Phone Number：0910123456</p>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
