
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::after,*::before {
  box-sizing: border-box;
}
.df{
  display: flex;
}

.jcc{
  justify-content: center;
}
.aic{
  align-items: center;
}
.aifs{
  align-items: flex-start;
}
.aife{
  align-items: flex-end;
}
.ais{
  align-items: start;
}
.fxdc{
  flex-direction: column;
}
.fxww{
  flex-wrap: wrap;
}
.fxwn{
  flex-wrap: nowrap;
}
.jcfe{
  justify-content: flex-end;
}
.jcfs{
  justify-content: flex-start;
}
.jcsb{
  justify-content: space-between;
}
.jcsd{
  justify-content: space-around;
}

// margin
.mb-4{
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-28{
  margin-bottom: 28px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-56{
  margin-bottom: 56px;
}
.mx-8{
  margin: 0 8px;
}
.mx-12{
  margin: 0 12px;
}
.ml-16{
  margin-left: 16px;
}


// padding{
  .pb-24{
    padding-bottom: 24px;
  }
  .pb-68{
    padding-bottom: 68px;
  }
  .pb-64{
    padding-bottom: 68px;
  }
  .pb-160{
    padding-bottom: 160px;
  }
  .pb-144{
    padding-bottom: 144px;
  }
  .pl-16{
    padding-left: 16px;
  }
  .pt-56{
    padding-top: 56px;
  }
  .pt-64{
    padding-top: 64px;
  }
  
  // font-size line-height
  .lh-80-106{
    font-size: 80px;
    line-height: 106px;
  }
  .lh-24-42{
    font-size: 24px;
    line-height: 42px;
  }
  .lh-24-36{
    font-size: 24px;
    line-height: 36px;
  }
  .lh-64-84{
    font-size: 64px;
    line-height: 84px;
  }
  .lh-20-30{
    font-size: 20px;
    line-height: 30px;
  }
  .lh-20-42{
    font-size: 20px;
    line-height: 42px;
  }

// 字體
body{
  font-family: Roboto,sans-serif
}